.dwdcuy table{
  margin-bottom: 100px; 
  border-collapse: collapse;
  width: 56%;
  text-align: center;
}
.dwdcuy th{
  text-align: center;
}
.dwdcuy td {
    text-align: left;
    padding: 8px;
}
.dwdcuy table tr:nth-child(even){
  background-color: #f1f1f1;
}

.oldata{
	text-align: center;
	background-color: #ffe6ff;
}
.oldata a{
	text-decoration: none;
	color: #00aaff;
}

.poto img{
  height: 190px;
  width: 160px;
}
